
header  h1 {
   background-color : white;
   border : 30px;
   color : black;
   padding : 25px; 
   text-align : center;
}

 h2  {
    background-color: white;
    border: 20px;
    color : black;
    padding : 25px;
    text-align: center;



 }
 h3 {
    background-color: white;
    border : 20px;
    color : black;
    padding : 25px;
    text-align: center;
 }
 
 



